@media only screen and (max-width: 1335px)
{
    header {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px 30px;
    } 

    nav ul {
        justify-content: center;
        flex-direction: column;
    }

    nav ul li {
        margin-left: 0;
    }
    
    #menu_icon {
        display: inline-block;
        transition: transform 0.2s;
    }
    #menu_icon:active {
        transform: rotate(45deg);
    }

    .main_nav {
        height: 0px;
    }

    .expanded_nav {
        /* color: white !important; */
        height: 250px;
    }

    /* -------------- */
    /* Sidebar Layout */
    /* -------------- */
}

@media only screen and (max-width: 992px)
{
    main.side-bar {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    main.side-bar .hero-left {
        width: 100%;
        max-height: 200px;
        /* max-height: 100px !important; */
        /* height: auto; */
        object-fit: cover;
    }
    
    
    .side-bar .description {
        padding: 0px;
        margin: 0 auto;
        width: 80%
    }
    main.sub-page .hero h1 {
        font-size: 10vw;
    }

    main.side-bar .description {
        line-height: 2;
    }

    main.side-bar .description h1 {
        font-size: 10vw;
    }
}

/* Screens 768px to 991px wide (phones in landscape mode, small tablets) */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px 8px;
    }
    /* body {
        font-size: 3.0vw;
    } */
}
    
    /* up to 767px wide (phones in portrait mode) */
@media only screen and (max-width: 767px) {

}