body {
    background-color: #ffffff;
    color: #FEBE3C;
    color: #0089a8;
    color: #95763a;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    /* max-width: 1600px; */
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    position: relative;
    /* flex-direction: column; */
    grid:
        "h h"
        "m m"
        "f f";
    /* padding: 10px; */
}

/* --------------- */
/* Header */
/* --------------- */

header {
    grid-area: h;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    background-color: white;

}

.logo_box img {
    /* height: 100%; */
    width: 100%;
    max-width: 500px;
    padding: 20px 0;
}

.logo_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.logo_box a img {
    padding-right: 1em;
    /* display: none; */
    /* font-size: 10px; */
    /* width: 60px; */
}

.logo_box > img {
    width: 60px;
}

nav.main_nav {
    /* grid-area: b; */
    /* background-color: antiquewhite; */
    width: 100%;
    display: flex;
    overflow: hidden;
    transition: height 0.5s;
    /* justify-content: center; */
    /* align-items: center; */
}

nav ul {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    height: 100%;
}

nav ul li {
    font-size: 1.5em;
    font-weight: 300;
    margin-left: 40px;
}

/* ----------------- */
/* Links and Buttons */
/* ----------------- */

a {
    transition: color 0.2s;
    /* color: #6aa8e2; */
    color: #0089a8;
    color: #95763a;
    color: #FEBE3C;
    text-decoration: none;
}

#menu_icon {
    display: none;
    padding: 0;
}

#mobile_menu {
    height: 0;
    overflow: hidden;
}

.rotate45deg {
    transform: rotate(45deg);
}

/* --------------- */
/* Footer */
/* --------------- */
footer {
    grid-area: f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    /* padding: 10px; */
    /* color: #FEBE3C; */
    color: #95763a;
    background-color: #fffaf6;
}

/* --------------- */
/* Home */
/* --------------- */
main {
    grid-area: m;
    height: 100%;
    /* min-height: 60vh; */
    min-height: calc(100vh - 80px - 125px);
    /* min-height: 800px; */
    display: flex;
    flex-direction: column;
}

main.home {
    margin: 0 auto;
    width: 100%;
}

section.hero {
    /* grid-area: a; */
    background-image: url("/img/home_background-pickawood-min.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2) inset;
    height: 100%;
}

main.home section.hero div {
    /* color: #FEBE3C; */
    /* color: #0089a8; */
    color: #95763a;
    opacity: 0;
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.925);
    /* color: #333; */
    backdrop-filter: blur(3px);
    padding: 50px 50px 50px 50px;
}

/* section.hero div h */

section.hero div p {
    font-size: 1.3em;
}

/* section.hero div h1 {
    font-weight: 300;
    line-height: 2;
    font-size: 5vw;
} */

section.image_and_text {
    /* grid-area: b; */
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

img.sidekick {
    max-width: 400px;
}

/* div.description { */
    /* max-width: 600px; */
/* } */

section.description {
    /* max-width: 1080px; */
    /* margin: 0 auto; */
    /* background-color: red; */
    padding: 40px 20px;
}

.sub-page .description {
    max-width: 1080px;
    margin: 0 auto;
}

/* ------------ */
/* About Us */
/* ------------ */
main.sub-page section.hero {
    min-height: 200px;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2) inset; */
}

main.about-us section.hero {
    background-image: url("/img/about_us-tim-patch-min.webp");
}


main.submissions section.hero {
    background-image: url("/img/submissions-phil-crop-min.webp");
    /* background-position: 0 -450px; */
}

main.sub-page .hero h1 {
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.925);
    color: black; /* for use with mix-blend-mode */
    mix-blend-mode: screen;
    font-size: 5em;
    padding: 10px 80px;
}

.hero div{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
} 

/* ------------ */
/* Contact */
/* ------------ */
main.side-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 0 auto; */
    align-items: center;
    /* flex-grow: 1 2; */
}

main.side-bar .hero-left {
    flex-basis: 300px;
    max-height: 80vh;
    /* background-image: ; */
}

/* main.side-bar .hero-left{ */
    /* width: 100%; */
    /* width: 100%; */
    /* object-fit: contain; */
    /* background-image: url("/img/contact-min.webp"); */
    /* background-size: contain; */
    /* background-attachment: fixed; */
    /* background-position: center; */

/* } */

.side-bar .description {
    /* flex: 1;  */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    line-height: 3;
    margin-left: 80px;
    padding-bottom: 200px;
    
}

.side-bar h1 {
    font-size: 5em;
    font-weight: 300;
    line-height: 2;
}